<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            Blog do COVID
            <!-- <img src="images/logo.svg" height="28" alt="CoolBrand"> -->
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Sobre</a>
                <a href="#" class="nav-item nav-link">Contato</a>
            </div>

            <% if (locals.isLogado) { %>
                <div class="navbar-nav ms-auto">
                    <a href="/logout" class="nav-item nav-link">Logout</a>
                </div>
            <% } else { %>
                <div class="navbar-nav ms-auto">
                    <a href="/login" class="nav-item nav-link">Login</a>
                    <a href="/registrar" class="nav-item nav-link">Registrar</a>
                </div>
             <% } %>

        </div>
    </div>
</nav>
</nav>