

<!-- PÁGINA DE TESTE -->

<form action="/registrar" method="post">
    <h6>Página WIP - Working in progress !</h6>
    <br>
    <input type="text" name="nome" id="nome">
    <br>
    <input type="email" name="email" id="email">
    <br>
    <input type="password" name="senha" id="senha">
    <br>
    <input type="password" name="confirmar_senha" id="senha">
    <br>
    <button type="submit"></button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

</form>

<!-- PÁGINA DE TESTE -->
